.vscode
.vscode-test/**
out
node_modules
src
.gitignore
.yarnrc
.nvmrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
jest.config.js
.github
yarn.lock
.yarnrc
CHANGELOG.md